name: Ubuntu CI

on:
  workflow_dispatch:

jobs:
  gcc-build-with-address-sanitizer:
    name: GCC build with -fsanitizer=address enabled
    runs-on: "ubuntu-24.04"
    env:
      CXX_COMPILER: "/usr/lib/ccache/g++"
      C_COMPILER: "/usr/lib/ccache/gcc"
      QULACS_OPT_FLAGS: "-mtune=haswell -march=haswell -mfpmath=both"
      USE_TEST: "Yes"
    steps:
      - uses: actions/checkout@v4

      - name: Setup cmake
        uses: lukka/get-cmake@latest

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: "${{ github.job }}-ubuntu-24.04"
          verbose: 2

      - name: Install boost
        run: sudo apt install libboost-dev

      - name: Install qulacs for Ubuntu
        run: ./script/build_gcc_with_memory_sanitizer.sh
      
      - name: Check CPU
        run: lscpu

      - name: Test in Ubuntu
        # -j option is not appended because running this test in parallel is slower than sequential version.
        run: |
          cd ./build
          make test
