name: Ubuntu CI

on:
  push:
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "doc/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "doc/**"
      - "*.md"

jobs:
  gcc8-build:
    name: GCC8 build
    strategy:
      matrix:
        python-version: ["3.7.5"]
    runs-on: "ubuntu-20.04"
    env:
      CXX_COMPILER: "/usr/lib/ccache/g++"
      C_COMPILER: "/usr/lib/ccache/gcc"
      QULACS_OPT_FLAGS: "-mtune=haswell -march=haswell -mfpmath=both"
      PYTHON: ${{ matrix.python-version }}
      COVERAGE: "Yes"
      CACHE_NAME: ccache-qulacs-build-v2
    steps:
      - uses: actions/checkout@v3

      - name: Setup cmake
        uses: lukka/get-cmake@latest

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install ccache
        run: sudo apt install ccache

      - name: Setup cache
        uses: actions/cache@v3
        with:
          path: ~/.ccache
          key: ${{ runner.os }}-${{ env.CACHE_NAME }}

      - name: Install boost
        run: sudo apt install libboost-dev

      - name: Install LCOV
        run: |
          git clone -b v1.15 --depth 1 https://github.com/linux-test-project/lcov.git
          cd lcov
          sudo make install

      - name: Install qulacs for Ubuntu
        run: USE_TEST=Yes ./script/build_gcc.sh

      - name: Install qulacs Python module
        run: pip install .[ci]
      
      - name: Check stubs
        run: |
          ./script/update_stubs.sh
          diff=$(git diff)
          echo -n "$diff"
          # Without `-n`, `echo -n "$diff" | wc -l` is 1 even if `"$diff" is empty.`
          test $(echo -n "$diff" | wc -l) -eq 0

      - name: Test if stub is working
        run: |
          python python/stub-test/generate_mypy_tester.py qulacs
          mypy python/stub-test/names_qulacs.py

      - name: Test in Ubuntu
        run: |
          cd ./build
          make coverage
          make pythontest

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v3

      - name: Show cache stats
        run: ccache -s

  gcc10-build-with-address-sanitizer:
    name: GCC10 build with -fsanitizer=address enabled
    strategy:
      matrix:
        python-version: ["3.7.5"]
    runs-on: "ubuntu-20.04"
    env:
      CXX_COMPILER: "/usr/lib/ccache/g++"
      C_COMPILER: "/usr/lib/ccache/gcc"
      QULACS_OPT_FLAGS: "-mtune=haswell -march=haswell -mfpmath=both"
      PYTHON: ${{ matrix.python-version }}
      CACHE_NAME: ccache-qulacs-build-v2
    steps:
      - uses: actions/checkout@v3

      - name: Setup cmake
        uses: lukka/get-cmake@latest

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install ccache
        run: sudo apt install ccache

      - name: Setup cache
        uses: actions/cache@v3
        with:
          path: ~/.ccache
          key: ${{ runner.os }}-${{ env.CACHE_NAME }}

      - name: Install boost
        run: sudo apt install libboost-dev

      - name: Install qulacs for Ubuntu
        run: USE_TEST=Yes ./script/build_gcc_with_memory_sanitizer.sh

      - name: Test in Ubuntu
        run: |
          cd ./build
          make test

      - name: Show cache stats
        run: ccache -s

  nvcc-gcc8-GPUbuild:
    name: nvcc + gcc8 build
    runs-on: "ubuntu-20.04"
    env:
      CXX_COMPILER: "/usr/lib/ccache/g++"
      C_COMPILER: "/usr/lib/ccache/gcc"
      QULACS_OPT_FLAGS: "-mtune=haswell -march=haswell -mfpmath=both"
      PYTHON: "3.7.5"
      COVERAGE: "ON"
      CACHE_NAME: ccache-qulacs-gpu-build-v2
    steps:
      - uses: actions/checkout@v3

      - name: Setup cmake
        uses: lukka/get-cmake@latest

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.7.5"
          architecture: x64

      - name: Install ccache
        run: sudo apt install ccache

      - name: Setup cache
        uses: actions/cache@v3
        with:
          path: ~/.ccache
          key: ${{ runner.os }}-${{ env.CACHE_NAME }}

      - name: Install boost
        run: sudo apt install libboost-dev

      - name: Install CUDA toolkit
        uses: Jimver/cuda-toolkit@v0.2.5
        id: cuda-toolkit

      - name: Install qulacs for Ubuntu
        run: ./script/build_gcc_with_gpu.sh

      - name: Install qulacs Python module
        run: USE_GPU=Yes pip install .[test]

      # Testing is removed because GPU is not available for GitHub-Hosted Runner.

  gcc11-sve-build:
    name: GCC11 + armv8.2-a+sve build
    runs-on: "ubuntu-22.04"
    env:
      C_COMPILER: "aarch64-linux-gnu-gcc-11"
      CXX_COMPILER: "aarch64-linux-gnu-g++-11"
      QULACS_OPT_FLAGS: "-march=armv8.2-a+sve"
      QEMU_LD_PREFIX: "/usr/aarch64-linux-gnu"
      QEMU_CPU: "max,sve512=on"
    steps:
      - uses: actions/checkout@v3

      - name: Setup qemu
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build pkg-config libglib2.0-dev gcc-11-aarch64-linux-gnu g++-11-aarch64-linux-gnu
          wget -q https://download.qemu.org/qemu-7.1.0.tar.xz
          tar xJf qemu-7.1.0.tar.xz
          pushd qemu-7.1.0
          mkdir build; cd build
          ../configure --target-list=aarch64-linux-user
          make -s -j $(nproc)
          sudo make install

      - name: Install boost
        run: sudo apt-get install libboost-dev

      - name: Install qulacs for Ubuntu
        run: USE_TEST=Yes ./script/build_gcc.sh

      - name: Test in Ubuntu
        run: |
          cd ./build
          make buildtest -j $(nproc)
          file ../bin/csim_test
          qemu-aarch64 ../bin/csim_test
          file ../bin/cppsim_test
          qemu-aarch64 ../bin/cppsim_test
          file ../bin/vqcsim_test
          qemu-aarch64 ../bin/vqcsim_test

  format:
    name: Format with clang-format
    runs-on: "ubuntu-20.04"
    container:
      image: ghcr.io/qulacs-osaka/qulacs-ubuntu-clang-format:latest
    steps:
      # This job is running on a docker container.
      # We can't use actions/checkout because Node.js is not installed on the container.
      # Therefore, we use `git clone` instead of actions/checkout.
      - name: clone /qulacs (pull_request)
        if: ${{ github.event_name == 'pull_request' }}
        env:
          # We use $REPOSITORY to support PR from the forked repository of Qulacs/qulacs.
          REPOSITORY: ${{ github.event.pull_request.head.repo.full_name }}
        run: |
          cd /
          git clone -b "${GITHUB_HEAD_REF#refs/*/}" https://github.com/$REPOSITORY

      - name: clone /qulacs (push)
        if: ${{ github.event_name == 'push' }}
        run: |
          cd /
          git clone -b "${GITHUB_REF#refs/*/}" https://github.com/${GITHUB_REPOSITORY}

      - name: format
        run: qulacs_format

      - name: Compare diff
        run: |
          cd /qulacs
          diff=$(git diff)
          echo -n "$diff"
          # Without `-n`, `echo -n "$diff" | wc -l` is 1 even if `"$diff" is empty.`
          test $(echo -n "$diff" | wc -l) -eq 0
