name: Wheel build

on:
  push:
    paths-ignore:
      - ".devcontainer/**"
      - ".vscode/**"
      - "doc/**"
      - "*.md"
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
  pull_request_review:
    types: [submitted, edited]
  workflow_dispatch:


jobs:
  wheel-build:
    name: Python wheel build
    if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event.review.state == 'approved' }}
    strategy:
      matrix:
        # cross-compiling wheel for m1 mac requires python >= 3.8
        python-version: ["3.10.8"]
        os: ["ubuntu-20.04", "windows-2019", "macos-11"]
    runs-on: ${{ matrix.os }}
    env:
      CXX_COMPILER: "g++-8"
      C_COMPILER: "gcc-8"
      PYTHON: ${{ matrix.python-version }}
      COVERAGE: "ON"
      TWINE_USERNAME: "__token__"
    steps:
      - uses: actions/checkout@v3

      - name: Setup cmake
        uses: lukka/get-cmake@latest

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install Python dependencies
        run: python -m pip install cibuildwheel twine

      - name: Install boost if windows
        if: ${{ contains(matrix.os, 'windows') }}
        uses: MarkusJx/install-boost@v2.0.0
        id: install-boost
        with:
          boost_version: 1.77.0

      - name: Run cibuildwheel for Windows
        if: ${{ contains(matrix.os, 'windows') }}
        run: python -m cibuildwheel --output-dir wheels
        env:
          BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}

      - name: Run cibuildwheel for Mac, Linux
        if: ${{ !contains(matrix.os, 'windows') }}
        run: python -m cibuildwheel --output-dir wheels

      - name: Upload wheel data if the Git tag is set
        run: python -m twine upload wheels/*.whl
        if: ${{ contains(github.ref, '/tags/') }}
        env:
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD_QULACS }}
